<header class="site-head">
	<a href="{{ site.baseurl }}/" class="site-head__home-link">
		<img src="{{ '/images/tklogoheader49px.png' | prepend: site.baseurl }}" width="261" alt="Trondheim kommunes logo" class="site-head__logo">
		<h1 class="site-head__title">Digital profil og stilguide</h1>
	</a>

	<nav class="site-head__nav">
		<ul class="site-head__nav__links">
			<li><a href="{{ site.baseurl }}/">Versjoner</a></li>
			<li><a href="{{ site.baseurl }}/about.html">Om stilguiden</a></li>
		</ul>
	</nav>
</header>