---
layout: styleguide
---

<div>

    <h1 class="page-heading">Versjon 1.0</h1>
    <p>Velkommen til versjon 1.0 av styleguiden til Trondheim kommune</p>
    <p>Denne endringen kan ha blitt gjort av Pål</p>

    <section class="guide-chapter" data-chapter-name="Intro" id="intro">
        {% include_relative intro.html %}
    </section>

    <section class="guide-chapter" data-chapter-name="Fargepalett" id="fargepalett">
        {% include_relative farger.html %}
    </section>

    <section class="guide-chapter" data-chapter-name="Komponenter" id="komponenter">
        {% include_relative skjema.html %}
        {% include_relative buttons.html %}
    </section>


</div>


