---
layout: styleguide
---

<div class="page">

    <h1 class="page-heading">Versjon 1.0</h1>
    <p class="chapter-lead">Trondheim kommunes stilguide, versjon 1.0. (november 2014)</p>

    <!-- Introduksjonstekst som forteller litt om hva som er nytt i denne versjonen -->
    <section class="guide-chapter" data-chapter-name="Intro" id="intro">
        {% include_relative intro.html %}
    </section>

    <!-- Logo og header -->
    <section class="guide-chapter" data-chapter-name="Logo og header" id="logo-og-header">
        {% include_relative logo_header.html %}
    </section>

    <!-- Domene -->
    <section class="guide-chapter" data-chapter-name="Domene" id="domene">
        {% include_relative domene.html %}
    </section>

    <!-- Font, tittel og tekst -->
    <section class="guide-chapter" data-chapter-name="Font, tittel og tekst" id="font_tittel_tekst">
        {% include_relative font_tittel_tekst.html %}
    </section>

    <!-- Lenker -->
    <section class="guide-chapter" data-chapter-name="Lenker" id="lenker">
        {% include_relative lenker.html %}
    </section>

    <!-- Knapper -->
    <section class="guide-chapter" data-chapter-name="Knapper" id="knapper">
        {% include_relative buttons.html %}
    </section>

    <!-- Lister -->
    <section class="guide-chapter" data-chapter-name="Lister" id="lister">
        {% include_relative lister.html %}
    </section>

    <!-- Skjema -->
    <section class="guide-chapter" data-chapter-name="Skjema" id="skjema">
        {% include_relative skjema.html %}
    </section>

    <!-- Varsel og kontainere -->
    <section class="guide-chapter" data-chapter-name="Varsel og kontainere" id="varsel_kontainere">
        {% include_relative varsel_kontainere.html %}
    </section>

    <!-- Tabeller -->
    <section class="guide-chapter" data-chapter-name="Tabeller" id="tabeller">
        {% include_relative tabeller.html %}
    </section>

    <!-- Kalender -->
    <section class="guide-chapter" data-chapter-name="Kalender" id="kalender">
        {% include_relative kalender.html %}
    </section>

    <!-- Ikoner -->
    <section class="guide-chapter" data-chapter-name="Ikoner" id="ikoner">
        {% include_relative ikoner.html %}
    </section>

    <!-- Farger -->
    <section class="guide-chapter" data-chapter-name="Farger" id="farger">
        {% include_relative farger.html %}
    </section>

</div>


