---
layout: default
---

<div class="home">

    <h1 class="page-heading">Versjon 1.0</h1>
    <p>Velkommen til versjon 1.0 av styleguiden til Trondheim kommune</p>
<p>Denne endringen kan ha blitt gjort av Pål</p>
    <ul id="chapterNav"></ul>

    {% include_relative skjema.html %}
    {% include_relative buttons.html %}

</div>
<script>
    // Bygger opp menyen
    $(document).ready(function(){
        var $chapterNav = $("#chapterNav");
        var chapterNavHtml = "";
        $(".chapter").each(function(){
            chapterNavHtml += '<li><a href="#' + $(this).attr("id") + '">' + $(this).attr("id") + '</li>'
        });
        $chapterNav.html(chapterNavHtml);
    });
</script>


