.page-index {
  background: #eee;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  padding: 1em;
  padding-top: 3.5em;
  box-sizing: border-box;
}

.page-index__to-top {
  position: absolute;
  top: 1em;
  color: #aaa;
}

.chapter-nav {
  padding: 0;
  margin: 0;
}

.chapter-nav__list-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.index-chapter {
  list-style: none;
  margin: 0;
  padding: 0;
}

.index-chapter__link {}

.index-subchapter {
  margin: 0 0 0 1rem;
  display: none;
}

.index-subchapter__link {}

.chapter-nav__link {
  text-decoration: none;
  display: block;
  padding: .5rem 0;
}

.chapter-nav__link--chapter {}

.chapter-nav__link--active-chapter {
  font-weight: bold;
  position: relative;

  &:after {
    content: " ";
    display: block;
    height: 100%;
    width: 4px;
    background: $theme-color;
    position: absolute;
    left: -1em;
    top: 0;
  }
}