.page-index {
  background: #eee;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  padding: 1em;
  padding-top: 3.5em;
  box-sizing: border-box;
}

.index-chapter {
  list-style: none;
  margin: 0;
  padding: 0;
}
.index-chapter__link {

}

.index-subchapter {
  margin: 0 0 0 1rem;
  display: none;
}

.index-subchapter__link {

}


.chapter-nav__list-item {
  margin: 0;
  padding: 0;
}
.chapter-nav__link {
  text-decoration: none;
  display: block;
  padding: .5rem 1rem;
}
.chapter-nav__link--chapter {

}
.chapter-nav__link--active-chapter {
  background: #fff;

  & + .chapter-nav--sub-nav {
    display: block;
  }
}