.page-container {
  max-width: 44em;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2em 1em 0;
}

.page-container--styleguide {
  box-sizing: border-box;
  width: 100%;
  padding-left: 240px;
}

.site-head {
  background: $theme-color;
  color: white;
  padding: 0.2em 1em;
  position: relative;
  z-index: 1;

  a {
    color: white;
  }
}

.site-head__home-link {
  text-decoration: none;
}

.site-head__logo {
  display: inline-block;
  height: 2em;
  width: auto;
  margin: .5em 0;
  margin-right: .7em;
  vertical-align: middle;
}

.site-head__title {
  font-size: 1.2em;
  font-weight: 100;

  margin: 0;
  padding: 0 0 0 .7em;
  display: inline-block;
  border-left: 2px solid rgba(255,255,255,.2);
}

.site-head__nav {
  float: right;
  margin-top: 1em;
  font-size: .9em;
}

.site-head__nav__links {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    display: inline-block;
    padding-left: 1em;
  }
}

.page {
  padding: 0 3em;
}

.guide-chapter {
  border-bottom: 8px solid #eee;
  padding-bottom: 4em;
  margin-bottom: 4em;
}

.guide-element {
  position: relative;
  border: 2px dashed #ddd;
  border-radius: 10px;
  background: #fafafa;
  padding: 1em;
  box-sizing: border-box;
}

.element-heading {
  margin-top: 2em;
  margin-bottom: .5em;
}