<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include header.html %}
	<nav class="page-index">
		<ul id="chapterNav"></ul>
	</nav>

	<article class="page-container">
		{{ content }}
	</article>


    {% include footer.html %}

    <script>
        $(document).ready(function(){
            $(".guide-chapter").each(function(){
                var nav = $("#chapterNav");
                var chapter = $(this);
                var element = $('<li><a href="#' + chapter.attr("id") + '">' + chapter.attr("data-chapter-name") + '</a></li>');
                nav.append(element);
                var subChapters = chapter.find(".guide-subchapter");
                if(subChapters.length > 0) {
                    var subnav = $('<ul class="subnav"></ul>');
                    element.append(subnav);
                    subChapters.each(function(){
                        var subchapter = $(this);
                        var subelement = $('<li><a href="#' + subchapter.attr("id") +'">' + subchapter.attr("data-subchapter-name") + '</a></li>');
                        subnav.append(subelement);
                    });
                }
            })
        })
    </script>

  </body>
</html>