<!DOCTYPE html>
<html>

{% include head.html %}

<body>
{% include header.html %}

<nav class="page-index">
    <a href="#" class="page-index__to-top">Gå til toppen</a>
    <h2>Versjon 1.0</h2>
    <ul id="chapterNav" class="chapter-nav"></ul>
</nav>

<article class="page-container--styleguide">
    {{ content }}
</article>


{% include footer.html %}

  <script>
    $(document).ready(function(){

        var nav = $('#chapterNav');

        $('.guide-chapter').each(function(){
            var chapter = $(this),
                elements = chapter.find('.guide-element'),
                chapterListItem = $('<li class="chapter-nav__list-item"><a class="chapter-nav__link" href="#' + chapter.attr("id") + '">' + chapter.attr("data-chapter-name") + '</a></li>');

            nav.append(chapterListItem);
        });

        $(".chapter-nav__link").on("click", function(){
            $(".chapter-nav__link").removeClass("chapter-nav__link--active-chapter");
            $(this).addClass("chapter-nav__link--active-chapter");
            // return false;
        });
    })
</script>

</body>
</html>