<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

	Styleguide page

    {% include header.html %}
	<nav class="page-index">
		<ul id="chapterNav"></ul>
	</nav>

	<article class="page-container">
		{{ content }}
	</article>


    {% include footer.html %}

	<script>
	    // Bygger opp menyen
	    $(document).ready(function(){
	    	var $chapterNav = $("#chapterNav");
	    	$(".guide-chapter").each(function(){

	    	});

	        var chapterNavHtml = "";
	        $(".chapter").each(function(){
	            chapterNavHtml += '<li><a href="#' + $(this).attr("id") + '">' + $(this).attr("id") + '</li>'
	        });
	        $chapterNav.html(chapterNavHtml);
	    });
	</script>

  </body>
</html>